.not-authorized-container {
    text-align: center;
    margin-top: 50px;
  }
  
  h2 {
    color: red;
    font-size: 2em;
  }
  
  p {
    font-size: 1.2em;
  }
  
  .back-home-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.1em;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
  }
  